body {
    font-family: "Roboto", sans-serif;
    color:  #434455;
    background-color: #FFFFFF;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
 

ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

img {
display: block;
}


a {
    text-decoration: none;
  }

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .title {
    color:#2e2f42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11; 
    letter-spacing: 0.02em;
    text-transform: capitalize;
    }
    
 .container { 
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
  }
 .section{
    padding-top: 120px;
    padding-bottom: 120px;
 }

 /*----------------HEADER--------------*/
.header{
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-nav{
display: flex;
align-items: center; 
padding: 24px 0;
}

.header-container{
    display: flex;
}

.header-logo {
color: #4d5ae5;
font-family: "Raleway", sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17; 
letter-spacing: 0.03em;
text-transform: uppercase;
margin-right: 76px;
display: flex;
}
.header-logo span {
    color: #2e2f42;
}

.header-menu-list{
display: flex;
gap: 40px;

}
.header-address-list{
    display: flex;  
    gap: 40px;
    padding: 24px 0;
    
}
.header-menu-link {
color: #2e2f42;
font-size: 16px;
font-weight: 500;
line-height: 1.50; 
letter-spacing: 0.02em;
padding: 24px 0;
}
.header-menu-link:nth-child(1){
    position: relative;
    color: #404bbf; 
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}
.header-menu-link::after {
content: '';
width: 48px;
height: 4px;
background-color: #404bbf;
position: absolute;
left: 0;
bottom: -1px;
border-radius: 2px
}
.header-menu-link:focus {
    color: #404BBF;
  }
  
  .header-menu-link:hover {
    color: #404BBF;
  }

.header-menu-link:active {
    color: #404BBF;
    text-decoration: underline;
  }

.header-address{
    font-style: normal;
    margin-left: auto;
}
.header-address-link {
    color: inherit;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.50;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-address-link:hover {
    color: #404BBF;
}
.header-address-link:focus {
    color: #404BBF;
}

/*-------------------------------------*/

/*----------------HERO--------------*/

.hero {
    background: #2E2F42;
    background-image:linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 188px 0;
    max-width: 1440px;
}

.hero-title {
color:  #FFF;
font-size: 56px;
font-weight: 700;
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;
width: 496px;
margin: 0 auto;
max-width: 496px;
}
.hero-btn {
display: block;
margin: 0 auto;
margin-top: 48px;
 color:  #FFF;
 background-color: #4D5AE5;
font-size: 16px;
font-weight: 500;
line-height: 1.50; 
letter-spacing: 0.04em;
cursor: pointer;
border-radius: 4px;
padding: 16px 32px;
min-width: 169px;
height: 56px;
border: none;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover {
    background-color: #404BBF
}

.hero-btn:focus {
    background-color: #404BBF
}
/** ----------------------------------- */

/** --------------VALUES----------------- */

.values {
    padding-top: 120px;
    padding-bottom: 120px;
}
.values-list {
    display: flex;
    gap: 24px;
}
.values-item {
    width: calc((100% - 72px) / 4);
}

.values-conteiner{
    width: 264px;
    height: 112px;
    border-radius: 4px;
   border: 1px solid  #8E8F99;
background: #F4F4FD;
display: flex;
align-items: center;
justify-content: center;
margin-bottom: 8px;
}
.values-conteiner-icon{
}

.values-subtitle {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.20;
    letter-spacing: 0.02em;
    margin: 8px 0px;
}
.values-item-text {
color:#434455;
font-size: 16px;
line-height: 1.50;
letter-spacing: 0.02em;
}

/** ----------------------------------- */

/** --------------TEAM----------------- */

.team {
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
}
.team-list {
display: flex;
gap: 24px;
}

.team-list-item {
background-color: #FFFFFF;
border-radius: 0px 0px 4px 4px;
box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
flex-direction: column;
justify-content: center;
align-items: center;
gap: 32px;
max-width: 264px;
width: calc((100% - 72px) / 4);


}
.team-title{
    margin-bottom: 72px;
}
.team-iteam-title {
    color:#2e2f42 ;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.20; 
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.team-item-text {
color:#434455;
text-align: center;
font-size: 16px;
line-height: 1.50; 
letter-spacing: 0.02em;
margin-bottom: 8px;
}

.team-iteam-all-text{
padding: 32px 0;
}

.soc-linlk-list{
    display: flex;
    gap: 24px;
    justify-content:center;
    align-items: center;
    fill:  #4D5AE5;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
}
.soc-linlk-items{
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.soc-link-icon{
   fill: #f4f4fd; 
}

.soc-linlk{
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius:  50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.soc-linlk:hover,
.soc-linlk:focus{
    background-color: #404bbf;
}

/** ----------------------------------- */

/** --------------PORTFOLIO----------------- */

.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}
.portfolio-title{
margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;

}
.portfolio-list-item {
width: calc((100% - 48px) / 3);
position: relative;
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-item:hover,
.portfolio-list-item:focus{
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
     0px 1px 1px 0px rgba(46, 47, 66, 0.16),
      0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.portfolio-list-item:hover .cover-text-wrap{
    transform: translateY(0%);
}
.portfolio-item-title {
    color:#2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.20; 
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}
.portfolio-item-text {
    color:#434455;
    font-size: 16px;
    line-height: 1.50; 
    letter-spacing: 0.02em;
}
.portfolio-item-text:hover{
    transform: translateY(0%);
}
.portfolio-item-all-text{

padding: 32px 16px;
border: 1px solid #e7e9fc;
border-top: none; 
}
.cover-text-wrap{
    position: absolute;
    top: 0;
    background:  #4D5AE5;
    height: 100%;
    display: flex;
    align-items: flex-start;
    padding: 40px 32px 0 32px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.cover-text{
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.payment-cover-wrap{
    position: relative;
    overflow: hidden;
}
/** ----------------------------------- */

/**---------------FOOTER----------------*/

.footer {
    background:  #2E2F42;
    padding: 100px 0;
}

.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
    color: #4D5AE5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17; 
    letter-spacing: 0.03em;
    text-transform: uppercase;
    }

.footer-logo-span {
        color: #F4F4FD;
    }   

.footer-text {
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.50; 
    letter-spacing: 0.02em;
    width: 264px;
    font-weight: 500;
    margin-bottom: 16px;
}
.footer-soc-media{

}
.footer-soc-media-list{
    display: flex;
    gap: 16px;
    justify-content:center;
    align-items: center;
    fill:  #4D5AE5;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-soc-media-items{
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-linlk{
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-soc-linlk:hover,
.footer-soc-linlk:focus{
    background-color: #31d0aa;
}

.footer-soc-media-text{
    color: #FFF;
font-size: 16px;
line-height: 1.5; /* 150% */
letter-spacing: 0.02em;
margin-bottom: 16px;
}
.footer-conteiner{
    display: flex;
    align-items: baseline;
    gap: 120px;
}
.footer-logo-class{
    margin-right: 120px;

}

.footer-soc-link-icon{
    width: 24px;
    height: 24px;
    fill: #f4f4fd;
}
/** ----------------------------------- */